.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  background: url('../../darth-vader.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -50px
}

.button {
  height: 50px;
  width: 100px;
  color: white;
  background-color: black;
  text-align: center;
  border: yellow 3px solid;
  padding-top: 28px;
/*  filter: blur(1px)*/
}

.button:hover {
  border: yellow 7px solid;
}

.active {
  background-color: aqua;
}

@media screen and (min-width: 700px) {
.button-container {
  margin: 0 150px;
}

}