.App {
  background-color: black
}

.header {
  background-color: black;
  position: relative;
  height: 115px;
}

.logo {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 110px;
}

main {
  position: relative;
  background-color: black;
  height: 600px;
}

.changeMain {
  position: absolute;
  right: 20px;
  top: -95px;
  color: white;
  background-color: black;
}

