.App {
/*  text-align: center;*/
/*  display: grid;
  grid-template-rows: 100px 200px 300px;
  grid-template-columns: 25% 65% 10%; */
}

.header {
  background-color: black;
  position: relative;
  height: 110px;
}

.logo {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 110px;
}

main {
  position: relative;
}

.changeMain {
  position: absolute;
  right: 0;
  top: -160px;
  color: white;
}

